*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

ul  {
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px whitesmoke;
}

a::before{
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: .5s ease-out;
}

a:hover{
    -webkit-text-stroke: 1px var(--clr);
}

a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}

img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
}